/bower_components/
/build/
/coverage/
/dist/
/node_modules/
/.pulp-cache/
/output/
/output-es/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/test-results/
/playwright-report/
/playwright/.cache/
