@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#container {
  box-sizing: border-box;
  height: 100vh;
}

#canvas {
  height: 100vh;
}

#canvas .wrapper {
  width: 100%;
}

#canvas svg {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}

#editor {
  box-sizing: border-box;
  height: 50vh;
}

#side-bar {
  box-sizing: border-box;
  height: 50vh;
}

#side-bar .navigation {
  position: sticky;
  top: 0;
  z-index: 1;
}

#side-bar .body {
  overflow-y: scroll;
}

#zoom-panel {
  position: absolute;
  top: 1rem;
}

.ace_editor {
  height: 100%;
}

.body {
  height: 100%;
  width: 100%;
}

.error {
  border: 0.1em dashed red;
}

.square {
  aspect-ratio: 1;
}

