* {
  margin: 0;
  padding: 0;
}

#container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr;
  grid-template-areas:
    "editor canvas"
    "legend canvas";
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  height: 100vh;
  padding: 0.25em;
}

.canvas {
  aspect-ratio: 1;
  border: 0.1rem dashed blue;
  grid-area: canvas;
  margin: auto 0;
  padding: 0.5rem;
}

.editor {
  border: 0.1rem dashed orange;
  grid-area: editor;
  height: 50vh;
  padding: 0.5rem;
}

.legend {
  border: 0.1rem dashed green;
  grid-area: legend;
  padding: 0.5rem;
  overflow: scroll;
}

.legend-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.legend-entry {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em;
}

.error {
  border: 0.1em dashed red;
  padding: 0.5em;
}

.command-header {
  font-weight: bolder;
}

.parameter-value-type {
  color: dimgray;
  font-size: smaller;
  font-style: italic;
  font-weight: lighter;
}
