@charset "utf-8";

$fa-font-path: "../webfonts";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/bulma/bulma.sass";

#container {
  box-sizing: border-box;
  height: 100svh;
}

#canvas {
  height: 50%;
}

#router-content {
  overflow: auto;
}

.navbar-item.logo {
  height: $icon-dimensions-large;
  margin: auto;
}

#side-bar-content {
  overflow-y: scroll;
}

#zoom-panel {
  position: absolute;
  top: 1rem;
}

.is-full-height {
  height: 100%;
}

.is-full-width {
  width: 100%;
}

.error {
  border: 0.1em dashed red;
}

.is-square {
  aspect-ratio: 1;
}

